html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
img,
strong,
sub,
sup,
b,
i,
ul,
li,
form,
canvas,
footer,
header,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: unset;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}
