// fonts

:root {
  --font-bold: "SuisseIntl-Bold", sans-serif;
  --font-regular: "SuisseIntl-Regular", sans-serif;
  --font-medium: "SuisseIntl-Medium", sans-serif;
  --font-ex-bold: "SuisseIntl-Bold", sans-serif;
}

// colors

:root {
  --color-white: #ffffff;
  --color-black: #111111;
  --color-light: #f2f2f2;
  --color-aqua: #94fad8;
  --color-glowlight: #e6ffc5;
  --color-glowdark: #d7ff60;
  --brand-blue: #00f;

  --header-primary: #ffffff;
}

// transitions

:root {
  --transition-fast: 0.3s ease-in-out;
  --transition-slow: 0.8s ease-in-out;
}
